extends layout

block content
	div(id='about-content')
		h1 Welcome to Plant Finder!
		
		h2 About
		p
			| Plant Finder is a website created by Kevin Dombrosky and Brittany Purcell for Rochester Institute of Technology's CSCI-620 Intro to Big Data class. The site's intended use is to be able to search for plants using all or part of their scientific names and to receive a list of locations where the plant can be found. These locations are limited to the states of the United States and the provinces of Canada. Similarly, a user can click on a state to receive a list of plants in that state. The data was received from the UCI Machine Learning Repository in the Plants dataset (
			a(href='http://archive.ics.uci.edu/ml/datasets/Plants') http://archive.ics.uci.edu/ml/datasets/Plants
			| ). The UCI dataset originated from the United States Department of Agriculture's Plant dataset(
			a(href='http://plants.usda.gov/index.html') http://plants.usda.gov/index.html
			| ).
		
		h2 Dependencies
		p
			| TODO