extends layout

block css
	link(rel='stylesheet', href='http://js.arcgis.com/3.14/esri/css/esri.css')
	
block scripts
	script(src="http://js.arcgis.com/3.14/")
	script(src='/js/arcMap.js')

block content
		div(id="sidebar")
			form(id='searchContainer', action='/plants', method='get')
				input(type='text', id='search', name='plantName', placeholder='Search for a plant...')
		div(id="map-wrapper")
			div(id="map")
