doctype html
html
	head
		title
			| Plant Finder
			
		link(href='/css/project.css', rel='stylesheet')
		link(rel='stylesheet', href='http://js.arcgis.com/3.14/esri/css/esri.css')
		
		script(src="http://js.arcgis.com/3.14/")
		
		script.
			//start ArcGIS code 
			var map;
			require([
				"esri/map", "esri/layers/FeatureLayer", "esri/InfoTemplate",
				"esri/symbols/SimpleLineSymbol", "esri/symbols/SimpleFillSymbol",
				"esri/renderers/UniqueValueRenderer", "esri/Color",
				"dojo/domReady!"],
				function(Map, FeatureLayer, InfoTemplate, SimpleLineSymbol, SimpleFillSymbol, UniqueValueRenderer, Color) {
					map = new Map("map", {
						basemap: "gray",
						center: [-100, 45],
						zoom: 4,
						slider: true
					});
				map.on("load", addFeatureLayer);
				map.graphics.on("click", myGraphicsClickHandler);
		
				function myGraphicsClickHandler(evt) {
					alert("User clicked on " + evt.graphic);
				}
		
				function addFeatureLayer() {
					//set the symbol to be an outline of the shape filled with a color
					var defaultSymbol = new SimpleFillSymbol().setStyle(SimpleFillSymbol.STYLE_NULL);
					defaultSymbol.outline.setStyle(SimpleLineSymbol.STYLE_NULL);
			
					//create renderer
					var renderer = new UniqueValueRenderer(defaultSymbol, "STATE_NAME");
					var canadaRenderer = new UniqueValueRenderer(defaultSymbol, "NAME");
			
					//add symbol for each possible value
					var usa_val_names = ["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho",
										"Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi",
										"Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Carolina","North Dakota",
										"Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont",
										"Virginia","Washington","West Virginia","Wisconsin","Wyoming"],
						can_val_names = ["British Columbia","Yukon","Northwest Territories","Alberta","Saskatchewan","Nunavut","Manitoba","Ontario","Quebec","Newfoundland and Labrador","New Brunswick","Nova Scotia"];
					//assign colors for usa shapes
					for( i = 0; i < usa_val_names.length; i++ ){
						var val_name = usa_val_names[i];
						renderer.addValue(val_name, new SimpleFillSymbol().setColor(new Color([0, 255, 0, 0.5])));
					}
					//assign colors for canada shapes
					for( i = 0; i < can_val_names.length; i++ ){
						var val_name = can_val_names[i];
						canadaRenderer.addValue(val_name, new SimpleFillSymbol().setColor(new Color([0, 255, 0, 0.5])));
					}
					
					//I think this assigns the popup information for the onclick of the states
					var featureLayer = new FeatureLayer("http://sampleserver1.arcgisonline.com/ArcGIS/rest/services/Specialty/ESRI_StateCityHighway_USA/MapServer/1", {
						infoTemplate: new InfoTemplate("&nbsp;", "${STATE_NAME}"),
						mode: FeatureLayer.MODE_ONDEMAND,
						outFields: ["STATE_NAME"]
					});
					
					var canadaFeatureLayer = new FeatureLayer("https://nowcoast.noaa.gov/arcgis/rest/services/nowcoast/mapoverlays_political/MapServer/4",{
						infoTemplate: new InfoTemplate("&nbsp;", "${NAME}"),
						mode: FeatureLayer.MODE_ONDEMAND,
						outFields: ["NAME"]
					});
					
					//add renderers of the shapes to the map object
					featureLayer.setRenderer(renderer);
					canadaFeatureLayer.setRenderer(canadaRenderer);
					map.addLayers([canadaFeatureLayer,featureLayer]);
				}
			});
		
	body
		div(id="header")
			a(href="/") Plant Finder
			|  | 
			a(href="/about") About
		div(id="center-wrapper")
			div(id="center")
				div(id="sidebar")
					form(id='searchContainer', action='/plants', method='get')
						input(type='text', id='search', name='plantName', placeholder='Search for a plant...')
				div(id="map-wrapper")
					div(id="map")
		div(id="footer")
			| Authors - Britanny Purcell & Kevin Dombrosky
